{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/css/styles.css' %}">
    <title>{% block head_title %}{% endblock head_title %}</title>
</head>
<body>
    <div class="AdminApp">
        <div class="SideBar">
            <nav class="Nav">
                <ul class="NavList">
                    <li>
                        <a href="/users">
                            <button {% if 'users/' in request.path  %}  class="active" {%  endif %}>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" fill="none">
                                    <path d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 14C8.13401 14 5 17.134 5 21H19C19 17.134 15.866 14 12 14Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                Utilisateurs
                            </button>
                        </a>
                    </li>
                    <li><a href="/products"><button  {% if 'products/' in request.path %}  class="active" {%  endif %}>Produits</button></a></li>
                    <li><a href="/product_categories"><button   {% if 'product_categories/' in request.path %}  class="active" {%  endif %}>Catégories</button></a></li>
                </ul>
            </nav>
        </div>
        <div class="SideContent">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>
</html>