{% extends "layouts/base.html.twig" %}

{% block head_title %}
{{ page_title }}
{% endblock head_title %}

{% block content %}
<h1 class="my-5 text-center">Suppression de la categorie {{ category.name }} </h1>
<form method="POST" class="col-10 mx-auto">
    {% csrf_token %}
    <p class="text-center"> Voulez-vous supprimer la categorie << {{ category.name }}>> ?</p>  
    <div class="form-group text-center my-3">
        <button class="btn btn-success" type="submit">Confirmer</button>
        <a class="btn btn-danger" href="{% url 'products:index' %}">Annuler</a>
    </div>
</form>
<h2 class="text-center text-warning">Supprimer cette catgorie supprimera les produits associes </h2>
{% endblock content %}