.errorlist{
    color: red;
    list-style: upper-roman;
}

.AdminApp {
    min-height: 100vh;
}

.TextLabel {
    font-size: 15px;
    display: block;
    font-weight: 500;
}

.SideBar {
    min-height: 100%;
    background-color: rgb(32, 0, 119);
}


.SideContent {
    min-height: 100%;
    display: block;
    width: 100%;
}


.Nav_Head {
    color: white;
    font-size: 25px;
    text-align: center;
    font-weight: 400;
}

.NavList {
    list-style-type: none;
    list-style: none;
}



.NavList a {
    border: none !important;
    text-decoration: none !important;
    width: 100%;
}



.NavList li {
    padding: 5px 0px;
}