{% extends "base.html" %}

{% block head_title %}
    {{ page_title }}
{% endblock head_title %}

{% block content %}
    <span class="TextLabel m-y">Bonjour à vous</span>
    <h1>Produits</h1>
    <div class="Actions">
        <a href="new"><button>Ajouter</button></a>
    </div>
    <!-- <ul>
    {% for user in users %}
        <li>{{ user.name }}</li>
    {% endfor %}
    </ul> -->
    <div class="dataTable">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Details</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.details }}</td>
                    <td>
                        <div class="Actions">
                            <a href="show/{{ product.id }}"><button>Voir</button></a>
                            <a href="edit/{{ product.id }}"><button>Editer</button></a>
                            <a href="delete/{{ product.id }}"><button>Supprimer</button></a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}